
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.basic-style {
  background-color: #f4f4f4;
  padding: 10px;
  /* border-bottom: 1px #ccc dotted; */
}

.basic-padding-and-margin {
  padding: 5px;
  margin: 5px;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.hide {
  display: none
}

.show {
  display: ''
}
