
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.basic-style {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-line-through {
  text-decoration: line-through;
}
